.holiday-event-container {
  overflow: hidden;

  display: flex;
  width: 99%;

  height: 2rem;

  align-items: center;

  margin-bottom: 0.25rem;

  border-radius: 0.3rem;

  background-color: rgb(220, 200, 255);
}

.holiday-event-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  user-select: none;

  font-size: 1rem;
  font-weight: 500;

  margin-left: 0.5rem;
}
